<div class="well">
  <%# disablee because page_entries_info issues 'SELECT COUNT(*) ...'
      query which is slow on PostgreSQL. %>
  <%- if false -%>
    <%= page_entries_info collection %>
    <%= number_with_delimiter collection.count %> <%= t('.results') %>.
  <%- end -%>
  <%= link_to 'Change Filter', "#filter-modal", :data => {
        :toggle => 'modal'
      }, :class => 'pull-right' %>
</div>
